@using REVAACOURSES.ViewModels

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6"> Update Course</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="Title" class="form-label">Title</label>
                    <input class="form-control" name="Title" value="@Model.Course.Title" />
                </div>
                <div class="mb-3">
                    <label for="Image" class="form-label">Image</label>
                    <input type="file" name="ImgFile" class="form-control" accept="image/*" onchange="previewImage(event)">
                </div>
                <div class="mb-3">
                    <img id="preview"
                         src="~/Images/CourseImages/@Model.Course.Img"
                         alt="Current Image"
                         style="max-width: 200px; border:1px solid #ccc; padding:5px; border-radius:10px;" />
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a description here" style="height: 100px" name="Description">
                            @Model.Course.Description
                        </textarea>
                        <label for="description">You Description Here...</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Price" class="form-label">Price</label>
                    <input class="form-control" name="Price" type="number" value="@Model.Course.Price"/>
                </div>
           <div class="mb-3">
                    <label for="CreatedAt" class="form-label">CreatedAt</label>
                    <input class="form-control" name="CreatedAt" type="date" value="@Model.Course.CreatedAt.ToString("yyyy-MM-dd")"/>
                </div>
                <div class="mb-3">
                    <label for="CategoryId" class="form-label">Category</label>
                    <select name="CategoryId" class="form-select">
                        @foreach (var item in Model.Categories)
                        {
                                if (item.CategoryId == Model.Course.CategoryId)
                                {
                                    <option value="@item.CategoryId" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.CategoryId" >@item.Name</option>
                                }
                        }
                    </select>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_NotificationPartial" />
}
<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById("preview");

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result; // الصورة الجديدة
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
